* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 600px;
}
.header input,
.header select {
  margin: 25px auto;
  padding: 12px 20px;
  width: 280px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(247, 246, 246, 0.3);
  backdrop-filter: blur(10px);
  font-size: 16px;
  color: white;
}
option {
  background-color: grey;
}

input:focus,
select:focus {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

input::placeholder {
  color: #ddd;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
  padding: 30px;
  position: relative;
  justify-items: center;
}

.pokemonDetails {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(20px);
  border-radius: 18px;
  padding: 20px;
  width: 220px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
  transition:
    all 0.35s ease,
    box-shadow 0.35s ease;
  perspective: 1000px;
  animation: fade 1s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.pokemonDetails:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.8);
}

.images {
  width: 130px;
  height: 130px;
  object-fit: contain;
  filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.8));
}

.name {
  margin-top: 12px;
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.loadMore {
  position: absolute;
  position: fixed;
  right: 0;
  z-index: 1;
  bottom: 20px;

  padding: 14px 40px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #09015c, #f19e04);

  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(221, 36, 118, 0.5);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.loadMore:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 40px rgba(221, 36, 118, 0.8);
}
h1 {
  color: white;
  margin: 2rem;
  text-align: center;
}

.both {
  position: relative;
  height: 200px;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.pokemonDetails:hover .both {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backface-visibility: hidden;
}

.back {
  color: white;
  gap: 10px;
  font-size: 15px;
  transform: rotateY(180deg);
}
.error {
  color: #ddd;
  font-size: 40px;
  font-weight: bold;
}
@media (max-width: 440px) {
  .header {
    width: 90%;
    flex-direction: column;
  }
  h1 {
    text-align: center;
  }
}
